/*  */

/*
=========================
 font
=========================
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*
=========================
 general styles
=========================
*/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.banner {
    background-color: #f1f5f8;
    height: 200px;
}

.banner-content {
    max-width: 1170px;
    padding: 80px 2rem 0 2rem;
    margin: 0 auto;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    color: #617d98;

}

/*
=========================
 nav 
=========================
*/

.navbar {
    height: 6rem;
    background: transparent;
}

.nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.sidebar-toggle {
    background-color: #ba5d2c;
    color: white;
    padding: .3rem 1.2rem;
    border: transparent;
    font-size: 1.5rem;
    border-radius: 2rem;
    transition: all .3s ease;
    cursor: pointer;
}

.sidebar-toggle:hover {
    background-color: #884522;
}

.cart-btn-container {
    display: inline-block;
    position: relative;
}

.cart-btn {
    font-size: 2rem;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
    color: white;
}

.cart-count {
    position: absolute;
    top: -30%;
    right: -30%;
    color: white;
    display: grid;
    place-content: center;
    background-color: #ba5d2c;
    height: 25px;
    width: 25px;
    border-radius: 50%;

}

.nav-links {
    display: none;
}

@media screen and (min-width:780px) {
    .sidebar-toggle {
        display: none;
    }

    .nav-links {
        display: flex;
        column-gap: 2rem;
    }

    .nav-links li {
        list-style-type: none;
    }

    .nav-links a {
        text-decoration: none;
        color: white;
        text-transform: capitalize;
        font-size: 1.3rem;
        transition: all .3s ease;
        letter-spacing: 1px;
    }

    .nav-links a:hover {
        color: #ba5d2c;
    }

    .nav-links a.black {
        color: #102a42;
    }

}

/*
=========================
 sidebar
=========================
*/

.sidebar {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.411);
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: grid;
    place-content: center;
    visibility: hidden;
}

.sidebar-content {
    background-color: white;
    height: 90vh;
    width: 90vw;
    padding: 2rem;
    border-radius: .5rem;
    position: relative;
}

.sidebar-close-btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    font-size: 2rem;
    color: #617d98;
    cursor: pointer;
}

.sidebar-links {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 2rem;
}

.sidebar-links a {
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: #48515a;
}

.sidebar-links a i {
    color: #617d98;
    margin-right: 1rem;
}

.show-sidebar {
    visibility: visible;
}

@media screen and (min-width:800px) {
    .sidebar {
        visibility: hidden;
        ;
    }
}

/*
=========================
 cart
=========================
*/

.cart-overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.336);
    visibility: hidden;
    z-index: 2;
}

.cart {
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    width: 400px;
    height: 100vh;
    padding: 1.5rem;
}

.cart-close-btn {
    font-size: 2rem;
    color: #617d98;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
}

.cart {
    padding: 3rem 1rem;
    display: grid;
    grid-template-rows: auto 1fr auto;
    row-gap: 1.5rem;
    transition: all .3s ease;
    transform: translateX(100%);
}

.cart h3 {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 1.6rem;
}

.cart-items {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.cart-card {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    width: 100%;
    column-gap: 1rem;
}

.cart-item-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.cart-item-price {
    font-size: .8rem;
    margin-top: -.5rem;
}

.remove-cart-item-btn {
    background-color: transparent;
    border: transparent;
    color: #48515a;
    letter-spacing: 1px;
    cursor: pointer;
}

.cart-increase-btn,
.cart-decrease-btn {
    background-color: transparent;
    border: transparent;
    color: #ba5d2c;
    cursor: pointer;
}

.cart-item-btns {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.cart-footer {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.cart-checkout-btn {
    margin-top: 1rem;
    background-color: #ba5d2c;
    color: white;
    border: transparent;
    text-transform: uppercase;
    padding: .5rem 1rem;
    width: 80%;
    border-radius: .3rem;
    cursor: pointer;
    transition: all .3s ease;
}

.cart-checkout-btn:hover {
    background-color: #c28e73;
    color: black;
}

.cart-items {
    justify-self: flex-start;
}

.cart-item-img {
    height: 4rem;
    width: 100%;
    object-fit: cover;
    border-radius: .2rem;
}

.show-cart {
    visibility: visible;
}

.show-cart .cart {
    transform: translateX(0);
}

/*
=========================
 hero
=========================
*/

.hero {
    height: 100vh;
    margin-top: -6rem;
    display: grid;
    place-content: center;
    background: linear-gradient(#22222279, #22222279), url('./images/main-bcg.jpeg') center/cover no-repeat;
}

.hero-content {
    width: 92vw;
    max-width: 1170px;
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
    color: white;
}

.hero-content h1 {
    font-style: italic;
    font-size: 3.2rem;
    text-transform: capitalize;
}

.hero-content p {
    text-transform: capitalize;
    letter-spacing: 1px;
}

.hero-content a {
    text-decoration: none;
    color: white;
    padding: .5rem 1rem;
    border: 2px solid white;
    border-radius: .5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: .9rem;
    transition: all .5s ease;
}

.hero-content a:hover {
    background-color: white;
    color: #ba5d2c;
}

/*
=========================
 feature
=========================
*/

.featured-title {
    text-align: center;
    padding: 5rem 0 3rem 0;
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 2rem;
}

.featured {
    text-align: center;
}

.featured-title span {
    color: #ba5d2c;
}

.featured-section {
    width: 90vw;
    margin: 0 auto;
    display: grid;
    gap: 1.5rem;
}

.featured-card {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
    position: relative;
    transition: all 1s ease;
}

.featured-card-btns {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    column-gap: 1rem;
    font-size: 1rem;
    color: white;
    visibility: hidden;
}

.featured-card:hover .featured-card-btns {
    visibility: visible;
}

.search-btn {
    color: white;
    background-color: #ba5d2c;
    padding: .7rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    text-decoration: none;
}

.add-cart-btn {
    background-color: #ba5d2c;
    padding: .7rem;
    border-radius: 50%;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.featured-card img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
    border-radius: .5rem;
}

.featured-card h4 {
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
}

.featured-card p {
    text-align: center;
    letter-spacing: 1px;
}

.featured-btn {
    text-align: center;
    display: inline-block;
    background-color: #ba5d2c;
    margin: 2rem auto 5rem auto;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    letter-spacing: 2px;
    padding: .7rem 2rem;
    border-radius: .5rem;
    transition: all .3s ease;
}

.featured-btn:hover {
    background-color: #b37452;
    color: black;
}

@media screen and (min-width:992px) {
    .featured-section {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1192px) {
    .featured-section {
        grid-template-columns: 1fr 1fr 1fr;
        max-width: 1200px;
        margin: 0 auto;
    }
}

/*
=========================
 products page
=========================
*/

.products-section {
    width: 90vw;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: .5rem;
    max-width: 1170px;
    padding: 0 2rem;
}

.products-container {
    display: grid;
    gap: .7rem;
}

.products-container h4 {
    font-size: .9rem;
    color: #617d98;
}

.products-container p {
    font-size: .9rem;
    margin-top: -.4rem;
    color: #102a42;
    font-weight: bold;
}

.products-container .featured-img {
    height: 10rem;
}

@media screen and (min-width:978px) {
    .products-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width:1170px) {
    .products-container {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.filters-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}

.search-input {
    background-color: #f1f5f8;
    border: transparent;
    padding: .6rem 1rem;
    width: 90%;
    border-radius: .3rem;
}

.search-input::placeholder {
    text-transform: capitalize;
    letter-spacing: 1px;
    color: #617d98;
}

.filters-container h4 {
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #384550;
}

.companies {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
}

.company-btn {
    margin-left: .5rem;
    background-color: transparent;
    border: transparent;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    color: #617d98;
}

.range-value {
    color: #617d98;
    text-transform: capitalize;
    letter-spacing: 1px;
}

/*
=========================
 about page
=========================
*/

.about-title {
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 2rem;
    text-align: center;
    margin: 3rem 0;
}

.about-title:first-child {
    color: #ba5d2c;
}

.about-text {
    width: 90vw;
    margin: 0 auto;
    max-width: 700px;
    color: #617d98;
    line-height: 2rem;
}

/*
=========================
 single product page
=========================
*/

.single-product {
    width: 90vw;
    margin: 4rem auto 5rem auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr;
}

.single-product-info {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    align-items: flex-start;
}

.single-product img {
    width: 100%;
    height: 25rem;
    object-fit: cover;
    border-radius: .2rem;
}

.single-product-name {
    text-transform: capitalize;
    letter-spacing: 2px;
    font-size: 2rem;
}

.single-product-company {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-style: italic;
    color: #617d98;
}

.single-product-price {
    letter-spacing: 1px;
}

.color {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
}

.single-product-text {
    max-width: 50%;
    line-height: 2rem;
    color: #617d98;
}

.single-product-info .btn {
    border-radius: .2rem;
    padding: .5rem 1rem;
    border: transparent;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
}